@import './assets/styles/variable';
@import './assets/styles/cosmetic';
@import './assets/styles/grid';

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: $white; 

  .content-container {
    min-height: 100vh;
  }
}

