
// Grid styles start

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
}

@mixin make-column($value, $totalColumn: $grid-columns) {
  flex: 0 0 percentage($value / $totalColumn);
  width: percentage($value / $totalColumn);
  position: relative;
  min-height: 40px;
  padding: 10px;
}

.c-pointer {
  cursor: pointer;
}

.m-t-20px {
  margin-top: 20px;
}

.m-r-15px {
  margin-right: 15px;
}

.d-none {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.m-y-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

// Grid styles ends
// Util styles starts

@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin padding($value) {
  padding: $value;
}

@mixin margin-x($value) {
  margin-left: $value;
  margin-right: $value;
}
// Util styles end