.container {
  width: 100%;
  @include padding-x(15px);
}

.row {
  @include make-row();
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include make-column($i);
  }
}

// Grid size for extra small screens
@media screen and (min-width: $extra-small-screen-size) {
  @for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      @include make-column($i);
    }
  }
  .banner-icon {
    max-height: 107px;
    max-width: 107px;
  }
}

// Grid size for small screens
@media screen and (min-width: $small-screen-size) {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      @include make-column($i);
    }
  }
  .set-background {
    background-color: #04344f;
  }
}

@media screen and (max-width: $small-screen-size) {
  .banner-icon {
    max-height: 107px !important;
    max-width: 107px !important;
  }
  .banner-common-font {
    font-size: 13px !important;
  }

  .hidden-sm-up {
    display: none!important;
  }

  .checkout-icon {
    max-width: 250px !important;
  }

  .hide-sm {
    display: none !important;
  }

  .client-logo {
    width: 80px !important;
  }

  .d-m-none {
    display: none;
  }

  .d-m-show {
    display: block;
  }
}

// Grid size for medium screens
@media screen and (min-width: $medium-screen-size) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      @include make-column($i);
    }
  }
  .phone-grid {
    @include padding-x(45px);
  }

  .checkout-section {
    padding-bottom: 65px;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }
  
  .offset-md-2 {
    margin-left: 16%;
  }
}

// Grid size for large screens
@media screen and (min-width: $large-screen-size) {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      @include make-column($i);
    }
  }
}

// Grid size for extra large screens 
@media screen and (min-width: $extra-large-screen-size) {
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      @include make-column($i);
    }
  }
}
