$app-background: linear-gradient(to top, #27304b, #293449);
$card-background: linear-gradient(to left, rgba(94, 108, 132, 0), rgba(94, 108, 132, 0.8));

$grid-columns: 12;

$extra-small-screen-size: 0px;
$small-screen-size: 576px;
$medium-screen-size: 768px;
$large-screen-size: 992px;
$extra-large-screen-size: 1200px;